*{
    margin: 0;
    text-align: center;
    padding: 0;

}

h1
{
    background-color: #081b31;
    color: #fff;
    height: 5rem; /*5 rem Unit ? */
    line-height: 5rem; /*Line hieght ? */
    
}

.choice
{
    height: 167px;
    width: 167px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;


    &:hover{
        cursor: pointer;
        background-color: #081b31;
    }
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
}


.score_board
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user_score , #Computer_Score
{
    font-size: 5rem;
}


.msg_Container
{
    margin-top: 5rem;

}
#msg{
    background-color: #081b31;
    color: white ;
    /* height: 4rem; */
    /* line-height: 5rem; */
    font-size: 2rem;
    padding: 1rem;
    display: inline;
    border-radius: 39px;
    
    
    
}


@media (max-width:590px) {
     body h1{
        width: 100%;
        font-size: 2rem;
    }
    .choices{
        flex-direction: column;
    }
     #msg{
        width: 100%;
        font-size:  1.8rem; ;
    }
}